/* System variables */

.is-page.light .is-cookie-message {
  color: #f3f3f3;
  background: #2B2E33;
  transition: all .625s;
}

.is-page.light #is-color-scheme {
  background: #2B2E33 !important;
  color: #f3f3f3;
  transition: all .625s;
}

.is-page.light {
  background-color: #f3f3f3;
}

.is-page.light .is-main {
  background-color: #f3f3f3 ;
  color: #2B2E33 !important;
}

.is-page.light .is-sidebar {
  background: #f3f3f3 !important;
  color: #2B2E33 !important;
  -webkit-box-shadow: 0px 15px 30px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 30px 2px rgba(0, 0, 0, 0.25);
}

.is-page.light .is-mobile {
  background: #f3f3f3 !important;
}

.is-page.light .is-mobile__menu .is-mobile__menu-link {
  filter: invert(25%);
  opacity: 1;
}

.is-page.light .is-mobile__menu .is-mobile__menu-link.active {
  filter: invert(100%);
}

.is-page.light section h2,
.is-page.light section h3,
.is-page.light section h5,
.is-page.light section p {
  color: #2B2E33 !important;
  transition: all .625s;
}

.is-page.light .is-navbar__line-bottom {
  box-shadow: 0px 4px 15px 10px rgba(0,0,0, 0.05);
  transition: all .625s;
}

.is-page.light .is-footer .navbar-nav .nav-item:before {
  filter: invert(100%);
}

.is-page.light .is-footer h2,
.is-page.light .is-footer a,
.is-page.light .is-footer p {
  color: #2B2E33 !important;
  transition: all .625s !important;
}

.is-page.light .is-footer a:hover {
  color: #7355A6 !important;
  transition: all .625s !important;
}

.is-page.light .is-sidebar__settings {
  background: radial-gradient(100% 1849% at 0% 100%, #BB81AB 22.92%, #5B2450 100%);
}

.is-page.light .is-sidebar .is-sidebar__tab-content__profile-menu__btn {
  color: #2B2E33;
}

.is-page.light .is-sidebar .is-sidebar__btn-service.close {
  background: #BC2225 !important;
}

.is-page.light .is-sidebar .is-sidebar__btn-service.close svg path {
  stroke: #fff;
}

.is-page.light .is-sidebar .is-sidebar__btn-service {
  background: #f3f3f3 !important;
}

.is-page.light .is-sidebar .is-sidebar__btn-service svg path {
  stroke: #2B2E33;
}

.is-page.light .is-sidebar .is-sidebar__tab-content__profile-menu__btn svg circle,
.is-page.light .is-sidebar .is-sidebar__tab-content__profile-menu__btn svg path {
  stroke: #2B2E33;
}

.is-page.light .is-sidebar .is-sidebar__tab-content__notifications-item .notification-link {
  color: #2B2E33 !important;
}

.is-page.light.is-news .is-news__navs-tab__selector svg path {
  stroke: #2B2E33;
}

.is-page.light.is-news .is-news__navs-tab__selector svg rect {
  fill: #2B2E33;
}

.is-page.light.is-news .is-news__navs-tab__selector.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-page.light.is-news .is-news__navs-tab__selector.active svg path,
.is-page.light.is-news .is-news__navs-tab__selector.active svg rect {
  stroke: #7355A6 !important;
  fill: #7355A6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-page.light.is-news .is-news_navs-form {
  background: rgba(0, 0, 0, 0.25);
}

.is-page.light.is-news .is-news__tab-list__card-header .is-date,
.is-page.light.is-news .is-news__tab-card__card-date {
  color: #f3f3f3 !important;
}

.is-page.light.is-contacts .is-contacts-info .is-link {
  color: #2B2E33;
  transition: all .625s;
}

.is-page.light.is-contacts .is-contacts-info .is-link:hover {
  color: #7355A6;
  transition: all .625s;
}

.is-page.light.is-contacts .is-contacts-info .is-item svg path,
.is-page.light.is-contacts .is-contacts-info .is-item svg circle {
  stroke: #2B2E33;
  transition: all .625s;
}

.is-page.light.is-courses .is-cources-info__list.items .card img {
  filter: invert(100%);
  transition: all .625s;
}

.is-page.light.is-courses .is-cources-info__list.items .card .is__title {
  color: #2B2E33;
}

.is-page.light.is-courses-details .is-courses-details__search-form {
  background: rgba(0, 0, 0, 0.25);
}

.is-page.light.is-settings .is-settings-profile .input-group-text,
.is-page.light.is-settings .is-settings-cats .btn {
  color: #2B2E33 !important;
  transition: all .625s;
}

.is-page.light.is-settings .is-settings-profile input.form-control,
.is-page.light.is-settings .is-settings-profile select.form-select {
  border-bottom: 1px solid #2B2E33;
}

.is-page.light.is-auth .is-auth-info__form-fields .input-group-text,
.is-page.light.is-auth .is-auth-info__form-fields .is-forgot {
  color: #2B2E33;
  transition: all .625s;
}

.is-page.light.is-auth .is-auth-info__form-fields input.form-control {
  border-bottom: 1px solid #2B2E33;
  transition: all .625s;
  color: #2B2E33;
}

.is-page.light.is-auth .is-auth-info__form-fields input.form-control::placeholder {
  color: rgba(0,0,0,.5);
}

.is-page.light.is-auth .is-auth-btn {
  background: #2B2E33;
  color: #fff;
}


/* Media Queries */



@media screen and (max-width:575px) {
  .is-page.light {
    background: url(../img/header_bg_mobile_light.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-attachment: fixed;
    transition: all .625s;
  }

  .is-page.light.is-auth .is-auth-btn.reg {
    border: 1px solid #2B2E33;
    background: transparent;
    color: #2B2E33;
  }

  .is-page.light.is-auth .is-auth-info__form-fields input.form-control {
    border-radius: 50px;
    border: 1px solid #2B2E33 !important;
    text-align: left;
    padding: 0rem 1.5rem;
  }

  .is-page.light.is-auth .is-auth-info__form-fields svg path {
    stroke: #2B2E33;
  }

  .is-page.light .is-header {
    background: url(../img/header_bg_mobile_light.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    transition: all .625s;
  }

  .is-page.light #is-color-scheme.is-color-toggle {
    display: none !important;
    background: transparent !important;
    color: #f3f3f3 !important;
  }

}

@media screen and (min-width:576px) and (max-width:767px) {

  .is-page.light {
      background: url(../img/header_bg_mobile_light.svg);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
      transition: all .625s;
  }

  .is-page.light .is-header {
    background: url(../img/header_bg_mobile_light.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    transition: all .625s;
  }

  .is-page.light #is-color-scheme.is-color-toggle {
    display: none !important;
    background: transparent !important;
    color: #f3f3f3 !important;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {

  .is-page.light {
      background: url(../img/header_bg_mobile_light.svg);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
      transition: all .625s;
  }

  .is-page.light .is-header {
    background: url(../img/header_bg_mobile_light.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    transition: all .625s;
  }

  .is-page.light #is-color-scheme.is-color-toggle {
    display: none !important;
    background: transparent !important;
    color: #f3f3f3 !important;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {


    .is-page.light .is-navbar .navbar-brand {
      background: url(../img/lpm_logo_color_dark.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .is-page.light .is-navbar .navbar-brand img {
      opacity: 0;
    }

    .is-page.light .navbar-brand img {
      filter: invert(100%);
    }

    .is-page.light .is-menu a,
    .is-page.light .is-navbar p {
      color: #2B2E33 !important;
    }

    .is-page.light .is-menu a.active {
      color: #2B2E33;
    }

    .is-page.light .is-navbar .is-navbar__search-form {
      background: rgba(0,0,0, 0.25);
    }

  .is-page.light #is-color-scheme.is-color-toggle {
    color: #f3f3f3 !important;
  }
}

@media screen and (min-width:1200px) and (max-width:1399px) {
  .is-page.light .is-navbar .navbar-brand {
    background: url(../img/lpm_logo_color_dark.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .is-page.light .is-navbar .navbar-brand img {
    opacity: 0;
  }

  .is-page.light .navbar-brand img {
    filter: invert(100%);
  }

  .is-page.light .is-menu a,
  .is-page.light .is-navbar p {
    color: #2B2E33 !important;
  }

  .is-page.light .is-menu a.active {
    color: #2B2E33;
  }

  .is-page.light .is-navbar .is-navbar__search-form {
    background: rgba(0,0,0, 0.25);
  }
}

@media screen and (min-width:1400px) {
  .is-page.light .is-navbar .navbar-brand {
    background: url(../img/lpm_logo_color_dark.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .is-page.light .is-navbar .navbar-brand img {
    opacity: 0;
  }

  .is-page.light .navbar-brand img {
    filter: invert(100%);
  }

  .is-page.light .is-menu a,
  .is-page.light .is-navbar p {
    color: #2B2E33 !important;
  }

  .is-page.light .is-menu a.active {
    color: #2B2E33;
  }

  .is-page.light .is-navbar .is-navbar__search-form {
    background: rgba(0,0,0, 0.25);
  }
}
