/* System variables */

.btn {
  text-transform: none !important;
}

.is-cookie-message {
  color: #2B2E33;
  background: #f3f3f3;
  font-size: .75rem;
  position: fixed;
  z-index: 1000;
  width: 98%;
  right: 0;
  left: 0;
  top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all .625s;
}

.is-cookie-message.hide {
  display: none;
  transition: all .625s;
}

.is-page #is-color-scheme {
  z-index: 1000;
    background: #f3f3f3 ;
    color: #2B2E33;
    transition: all .625s;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius:50%;
}

.is-page {
  background: #2B2E33;
  color: #fff;
}

.is-page .is-header {
  margin-top: 0;
}

.is-page .is-navbar {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-page .is-navbar .is-btn__back,
.is-page .is-navbar .is-btn__theme {
  display: none;
}

.is-page .is-menu .nav-item {
  max-width: 165px;
  margin-left: 3rem;
  margin-right: 3rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.is-page .is-menu .nav-item .nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.is-page .is-navbar__line-bottom {
  background: #7355A6;
  box-shadow: 0px 4px 15px 10px rgba(79, 67, 148, 0.25);
  border-radius: 2px;
  width: 95%;
  height: 1px;
  display: block;
  margin: 3rem auto 4rem;
}

.is-page .is-navbar__user-block {
  display: block;
}

.is-page .is-navbar__user-block .is-navbar__ueser-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.is-page .is-navbar__user-block .is-navbar__ueser-position,
.is-page .is-navbar__user-block .is-navbar__ueser-company {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.is-page .is-navbar .is-navbar__search-form {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 32px;
  max-width: 90%;
}

.is-page .is-navbar .is-navbar__search-form__btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 12px;

}

.is-page .is-navbar .is-navbar__search-form__btn img {
  width: 12px;
  height: 12px;
}

.is-page .is-navbar .is-navbar__search-form__input {
  border-radius: 2rem;
  background-color: transparent;
  font-size: 12px;
  padding: 2px 16px;
  border: none;
  color: #fff;
}

.is-page .is-navbar .is-navbar__search-form__input::placeholder {
  color: #fff;
}

.is-mobile {
  display: none;
}

.is-page .is-footer {
  background: url(../img/footer_bg_dark.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: bottom left;
  color: #fff;
}

.is-page .is-footer .navbar-nav .nav-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 2rem;
}

.is-page .is-footer .navbar-nav .nav-item:before {
  display: block;
  width: 32px;
  height: 32px;
  content: "";
  margin-right: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain !important;
  background-size: contain !important;
}

.is-page .is-footer .navbar-nav .nav-item.phone:before {
  background: url(../img/contacts_icon_rounded.svg);
}

.is-page .is-footer .navbar-nav .nav-item.email:before {
  background: url(../img/email_icon_rounded.svg);
}

.is-page .is-footer .navbar-nav .nav-item.address:before {
  background: url(../img/geo_icon_rounded.svg);
}

.is-page .is-footer .navbar-nav .nav-item.faq:before {
  background: url(../img/faq_icon_rounded.svg);
}

.is-page .is-footer .navbar-nav .nav-item.policy:before {
  background: url(../img/policy_icon_rounded.svg);
}

.is-page .is-footer .navbar-nav .nav-item .nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  transition: all .625s;
}

.is-page .is-footer .navbar-nav .nav-item .nav-link:hover {
  font-weight: bold;
  color: #7355A6;
  transition: all .625s;
}

.is-page .is-footer .is-footer__partners-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 0;
}

.is-page .is-footer .is-footer__copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 29px;
}

.is-page .is-sidebar {
  display: none;
}

/* Index Page */

.is-index .is-main {
  color: #fff;
  padding: 0 2rem;
}

.is-index .is-intro .is-intro__title,
.is-index .is-targets .is-targets__title,
.is-index .is-professionalism .is-professionalism__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #FFFFFF;
}

.is-index .is-intro .is-intro__text,
.is-index .is-targets .is-targets__text,
.is-index .is-professionalism .is-professionalism__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #FFFFFF;
}

.is-index .is-intro__text-other {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 3rem;
}

.is-index .is-whywe {}

.is-index .is-whywe h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(82, 139, 143, 0.5);
  border-radius: 16px;
}

.is-index .is-whywe h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.is-index .is-whywe p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

/* Info-Analitic Page */

.is-infoanalit .is-info__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.is-infoanalit .is-info__analit-item__arrow-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: rgba(82, 139, 143, 0.5);
    max-width: 32px;
}

.is-infoanalit .is-info__analit-item__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.is-infoanalit .is-info__analit-item__content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

/* News page */

.is-news .is-news__navs-tab__selector {
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 1rem;
  border-radius: 0 !important;
  background-color: transparent;
}

.is-news .is-news__navs-tab__selector.active {
  border-radius: 0 !important;
  background-color: transparent;
}

.is-news .is-news__navs-tab__selector.active svg path,
.is-news .is-news__navs-tab__selector.active svg rect {
  stroke: #7355A6;
  fill: #7355A6;
}

.is-news .is-news_navs-form {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 32px;
  max-width: 90%;
}

.is-news .is-news_navs-form__btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 12px;

}

.is-news .is-news__navs-form__btn img {
  width: 12px;
  height: 12px;
}

.is-news .is-news__navs-form__input {
  border-radius: 2rem !important;
  background-color: transparent;
  font-weight: 200;
  font-size: 16px;
  padding: 2px 16px;
  border: none;
  color: #fff;
}

.is-news .is-news__navs-form__input::placeholder {
  color: #fff;
}

.is-news .is-news__tab-card__card,
.is-news .is-news__tab-list__card {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-news .is-news__tab-cards__card-img {
  position: relative;
  background: linear-gradient(180deg, rgba(115, 85, 166, 0.5) 0%, rgba(43, 46, 51, 0.5) 82.29%);
  border-radius: 16px;
}

.is-news .is-news__tab-cards__card-img img {
  z-index: 99;
  opacity: 0;
}

.is-news .is-news__tab-card__card-date {
  position: absolute;
  top: 16px;
  right: 32px;
  z-index: 100;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.is-news .is-news__tab-card__card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

.is-news .is-news__tab-list__card-header .is-date {
  background: linear-gradient(90deg, #528B8F 0%, #7355A6 100%);
  border-radius: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 19px;
  padding: .35rem 1rem;
}

.is-news .is-news__tab-list__card-header .is-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.is-news .is-news__tab-list__card-link {
  color: #7355A6;
  font-size: 12px;
}

/* Contacts page */

.is-contacts .is-contacts-info .is-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.is-contacts .is-contacts-info .is-item svg {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.is-contacts .is-contacts-info .is-link {
  margin-left: 2rem !important;
  color: #fff;
  transition: all .625s;
}

.is-contacts .is-contacts-info .is-link:hover {
  color: #7355A6;
  transition: all .625s;
}

.is-contacts .is-contacts-info .is-contacts-info__map {
  border: 1px solid #fff;
}

.is-contacts .is-contacts-graffic {
  margin-top: 5rem !important;
}

.is-contacts .is-contacts-graffic .is-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.is-contacts .is-contacts-graffic .is-graffic__row {
  background: linear-gradient(90deg, #7355A6 0%, #7EACAE 103.51%);
  border-radius: 16px;
  padding: 1.5rem .25rem;
}

.is-contacts .is-graffic__row p {
  margin-bottom: 0;
}

.is-contacts .is-graffic__row .is-text,
.is-contacts .is-graffic__row .is-time,
.is-contacts .is-graffic__row .is-break {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.is-contacts .is-graffic__row .is-time,
.is-contacts .is-graffic__row .is-break {
  font-weight: 600;
}

/* Courses page */

.is-courses .is-cources-info .is-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.is-courses .is-cources-info__list.title .is-h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #7355A6;
}

.is-courses .is-cources-info__list.items {}

.is-courses .is-cources-info__list.items .card {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 1.5rem;
}

.is-courses .is-cources-info__list.items .card .is__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.is-courses .is-cources-info__list.items .card img {
  height: 127px;
}

/* Courses details page */

.is-courses-details .is-courses-details-info__list.title .is-h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #7355A6;
}

.is-courses-details .is-courses-details-info__list.title .is-h4 .is-sub {
  font-size: 32px;
}

.is-courses-details .is-courses-details__search-form {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 32px;
}

.is-courses-details .is-courses-details__search-form__btn {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-courses-details .is-courses-details__search-form__input {
  background-color: transparent;
  border: 0;
  border-radius: 32px !important;
  color: #Fff;
}

.is-courses-details .is-courses-details__search-form__input::placeholder {
  color: rgba(255,255,255,.5);
}

.is-courses-details .is-courses-details__list-card .col-md-8,
.is-courses-details .is-courses-details__list-card .btn-bg {
  background: linear-gradient(270deg, rgba(60, 120, 192, 0.5) 0%, rgba(115, 85, 166, 0.5) 100%);
  border-radius: 50px;
}

.is-courses-details .is-courses-details__list-card .btn-bg {
  width: 100%;
  height: 100%;
}

.is-courses-details .is-courses-details__list-card p {
  margin-bottom: 0;
}

.is-courses-details .is-courses-details__list-card .is-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.is-courses-details .is-courses-details__list-card .is-start {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.is-courses-details .is-courses-details__list-card .is-start .is-sub {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.is-courses-details .is-courses-details__list-card .is-text-block {
  width: 100%;
}

.is-courses-details .is-courses-details__list-card .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 60px;
}

/* Settings page */

.is-settings .is-settings-profile,
.is-settings .is-settings-cats {
  background: rgba(82, 139, 143, 0.25);
  border-radius: 24px;
  padding: 1.5rem;
}

.is-settings .is-settings-profile .input-group-text {
  width: 25%;
  border: 0;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 1rem;
  transition: all .625s;
}

.is-settings .is-settings-profile input.form-control {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  width: 50%;
  color: #fff;
}

.is-settings .is-settings-profile select.form-select {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.is-settings .is-settings__btn-save {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(82, 139, 143, 0.75);
  border-radius: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.is-settings .is-settings-cats .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

/* Authentification page */

.is-auth .is-auth-info__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
}

.is-auth .is-auth-info__form-fields .input-group-text {
  width: 15%;
  text-align: right;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  border: none;
  align-items: flex-end;
  margin-bottom: 0;
  color: #fff;
  transition: all .625s;
}

.is-auth .is-auth-info__form-fields input.form-control {
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
  outline: none;
  outline-color: transparent !important;
  transition: all .625s;
}

.is-auth .is-auth-info__form-fields svg {
  display: none;
}

.is-auth .is-auth-info__form-fields input:focus {
  outline: none !important;
  border: none !important;
}

.is-auth .is-auth-info__form-fields input.form-control::placeholder {
  color: rgba(255,255,255,.5);
}

.is-auth .is-auth-info__form-fields .is-forgot {
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1rem;
}

.is-auth .is-auth-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 82px;
  background: #fff;
  margin: 0rem 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}

.is-auth .is-auth-btn.auth {
  color: #7355A6;
}

/* Cabinet page */

.is-cabinet .is-cabinet__user-settings {
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.is-cabinet .is-cabinet__user-settings svg {
  margin-right: 1rem;
}

.is-cabinet .is-cabinet__user-info {
  margin-top: 1rem;
}

.is-cabinet .is-cabinet__user-info p {
  margin-bottom: 0;
  text-align: center;
}

.is-cabinet .is-cabinet__user-info p.fname {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 19px;
}

.is-cabinet .is-cabinet__user-info p.lname {
  font-weight: 600;
}

.is-cabinet .is-cabinet__user-info p.company {
  font-size: 12px;
}

.is-cabinet .is-cabinet__user-events .is-icon__block {
  margin-right: 1rem;
  position: relative;
}

.is-cabinet .is-cabinet__user-events .is-icon__block .badge {
  position: absolute;
  top: -10px;
  right: -10px;
}

.is-cabinet .is-cabinet__user-events .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.is-cabinet .is-cabinet__user-events .btn.notifications,
.is-cabinet .is-cabinet__user-events .btn.events {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.is-cabinet .is-cabinet__user-events .btn.notifications .badge {
  background: #528B8F;
}

.is-cabinet .is-cabinet__user-events .btn.events .badge {
  background: #7355A6;
}
